# Alpaca API (required)
#ALPACA_API_KEY=PKHSTJY2FU2V22LX27SPLCJ3IS
#ALPACA_API_SECRET=FWwP5GeHpApmAMYBQjLqdwppzoQWRuwPQogmiRfouZ6S
#ALPACA_PAPER=true
#ALPACA_BASE_URL=https://paper-api.alpaca.markets/v2

ALPACA_API_KEY=AK472SNWQKZAXBQATPFZGOVSRQ
ALPACA_API_SECRET=6uMefgf9c4P5rtPbMVWCHU3iABfxQGZXBAAfRqvpb5Mb
ALPACA_PAPER=false
ALPACA_BASE_URL=https://api.alpaca.markets

# Finnhub (optional — for news sentiment & discovery)
FINNHUB_API_KEY=

# Broker selection (optional — default: alpaca)
STOCKS_BROKER=alpaca
POLYGON_API_KEY=gfO9Gflb98uyVYIREjoIS3n_8_IWRQuN
FINNHUB_API_KEY=d6o8689r01qu09ciggs0d6o8689r01qu09ciggsg
USE_EMAIL_NOTIFICATIONS=true
EMAIL_TO_ADDRESSES=spolisetti.archive@gmail.com
EMAIL_FROM_ADDRESS=spolisetti.archive@gmail.com
EMAIL_SMTP_USER=spolisetti.archive@gmail.com
EMAIL_SMTP_PASSWORD=ewxdzhdtcqqwebxw